<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pirates of the Ucjcean - Inicio</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">

        <style>
           body {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto auto 1fr;
                min-height: 100vh;
                font-family: 'Press Start 2P', cursive;
                background-color: #87CEEB; /* Azul de fondo para el cielo pirata */
                color: black;
                align-items: center;
            }

            header {
                padding: 20px;
                text-align: center;
            }

            h1 {
                font-size: 3em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
            }
            h2{
                color: white; 
                font-size: 2.5em;
                text-align: center;
            }

            nav {
                margin: 20px 0;
                text-align: center;

            }

            nav a {
                margin: 15px 0;
                padding: 10px 20px;
                background-color: #8b4513; /* Marrón tipo madera */
                color: #fff;
                border: none;
                text-decoration: none;
                font-size: 1.2em;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }

            nav a:hover {
                background-color: #d2691e; /* Marrón más claro */
                color: #ffd700; /* Texto dorado */
            }

            ul > li{
                margin-bottom: 30px;
            }

            .create-title{
                font-size: 2em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
                margin-top: 5rem;
            }

      

            footer {
                text-align: center;
                padding: 20px;
                background-color: #2e2b27;
                color: #fff;
                width: 100%;
            }
            form{
                text-align: center;
            }

            .create-title{
                font-size: 2em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
            }

            .form-edit > input, select, select > option, #characterSpecificFields > input{
                border-radius: 6px;
                font-family: 'Press Start 2P', cursive;
                padding: 6px;
                border: none;
            }
            .form-edit > input, #characterSpecificFields > input{
                margin-top: 20px;
                border: none;
            }

            .button-update{
                margin-top: 20px;
                margin: 15px 0;
                padding: 10px 20px;
                background-color: white;
                color: #000000;
                border: none;
                text-decoration: none;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }

            .button-update:hover {
                background-color: #d2691e;
                color: #ffd700;
            }

         
        </style>
    </head>
    <body>
        <header>
            <h1>Pirates of the Ucjcean</h1>
            <nav>
                <ul>
                    <li><a href="/game2"><button class="nav-button">Inicio</button></a></li>
                    <li><a href="/game2/select"><button class="nav-button">Cambiar personaje</button></a></li>
                    <li><a href="/characters"><button class="nav-button">Gestión de Personajes</button></a></li>
                </ul>
            </nav>
        </header>
        
        <h1 class="create-title">Editar Personaje</h1>
        <form action="/characters/<%= character.id %>/update" method="post" class="form-edit">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= character.name %>" required><br>
            
            <label for="energyLevel">Nivel de Energía:</label>
            <input type="number" id="energyLevel" name="energyLevel" value="<%= character.energyLevel %>" required><br>
            
            <label for="lifeExpectancy">Esperanza de Vida:</label>
            <input type="number" id="lifeExpectancy" name="lifeExpectancy" value="<%= character.lifeExpectancy %>" required><br>

            <label for="foodLevel">Nivel de comida:</label>
            <input type="number" id="foodLevel" name="foodLevel" value="<%= character.foodLevel %>" required><br>
        
            <label for="drinkLevel">Nivel de bebida:</label>
            <input type="number" id="drinkLevel" name="drinkLevel" value="<%= character.drinkLevel %>" required><br>
        
            <label for="restLevel">Nivel de descanso:</label>
            <input type="number" id="restLevel" name="restLevel" value="<%= character.restLevel %>" required><br>

            <div id="characterSpecificFields"></div>

            
            <button type="submit" class="button-update">Actualizar</button>
        </form>

        <footer>
            <p>&copy; Pirates of the Ucjcean 2024</p>
        </footer>

        <script>
            // Función para cargar los campos específicos del personaje
            function loadCharacterSpecificFields() {
                const characterType = '<%= character.type %>'; // Obtener el tipo de personaje desde el servidor
                const characterSpecificFields = document.getElementById('characterSpecificFields');
                
                characterSpecificFields.innerHTML = ''; // Limpiar campos anteriores
        
                if (characterType === 'parrot') {
                    characterSpecificFields.innerHTML = `
                        <label for="flyLevel">Vuelo:</label>
                        <input type="number" id="flyLevel" name="flyLevel" value="<%= character.flyLevel %>" required><br>
                    `;
                } else if (characterType === 'monkey') {
                    characterSpecificFields.innerHTML = `
                        <label for="jumpLevel">Salto:</label>
                        <input type="number" id="jumpLevel" name="jumpLevel" value="<%= character.jumpLevel %>" required><br>
                    `;
                }
            }
        
            // Cargar campos específicos al cargar la página
            document.addEventListener('DOMContentLoaded', loadCharacterSpecificFields);
        </script>

        
    </body>
</html>